# Virtual environments
.venv/
.venv311/
.venv_old/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Model checkpoints (quá nặng)
checkpoints/*.pth

# Data (nếu muốn user tự download)
# data/multi30k/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
~*
